<%- include('../partials/header') %>

<div class="container">
    <table class="table table-striped table-hover mt-3">
        <thead class="text-center">
            <th>Company</th>
            <th>Job Title</th>
            <th>Location</th>
            <th>Status</th>
            <th>Interest Level</th>
            <th>Details</th>
            <th></th>
        </thead>
        <tbody class="text-center">
            <% if (jobApps.length) { %>
            <% jobApps.forEach(app => { %>
            <tr>
                <td> <%= app.company %> </td>
                <td> <%= app.jobTitle %> </td>
                <td> <%= app.location %> </td>
                <td> <%= app.status %> </td>
                <td> <%= app.interestLevel %> </td>
                <td> <a href="/jobapps/<%= app._id %>">Details</a></td>
                <td> 
                    <form action="/jobapps/<%= app._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">X</button>
                    </form>
                </td>
            </tr>
            <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="7" class="text-center">
                        No Job Applications Yet.
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <a href="/jobapps/new" class="btn btn-primary">Add New Job App</a>
</div>

<%- include('../partials/footer') %>