<%- include('../partials/header') %>

<div class="container">
  <div class="d-flex justify-content-between">
    
    <!-- JOB DETAILS CARD -->
    <div class="card m-3 details-card">
      <div class="card-header">
        Job Details
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= jobApp.company %> - <%= jobApp.jobTitle %></h5>
        <p class="card-text">Location: <%= jobApp.location %></p>
        <p class="card-text">Interest Level: <%= jobApp.interestLevel %></p>
        <p class="card-text">Status: <%= jobApp.status %></p>
        <p class="card-text">Notes: <%= jobApp.notes %></p>
        <p class="card-text"><a class="btn btn-secondary" href="<%= jobApp.postingLink %>">Job Posting Link</a></p>
      </div>
    </div>
    
    <!-- APPLICATION DETAILS CARD -->
    <div class="card m-3 details-card">
      <div class="card-header">
        Application Details
      </div>
      <div class="card-body">
        <form action="/jobapps/<%= jobApp._id %>?_method=PUT" method="POST">
          
          <% if (jobApp.resumeVersion) { %>
            <p class="card-text">Resume Version Sent: <%= jobApp.resumeVersion %></p>
          <% } else { %>
            <div class="form-floating mb-3">
              <input class="form-control" type="text" name="resumeVersion" id="resumeVersion" autocomplete="off">
              <label for="resumeVersion">Resume Link</label>
            </div>
          <% } %>
              
          <% if (jobApp.coverLetterVersion) { %>
            <p class="card-text">Cover Letter Version Sent: <%= jobApp.coverLetterVersion %></p>
          <% } else { %>
            <div class="form-floating mb-3">
              <input class="form-control" type="text" name="coverLetterVersion" id="coverLetterVersion" autocomplete="off">
              <label for="coverLetterVersion">Cover Letter Link</label>
            </div>
          <% } %>
            
          <% if (jobApp.sentDate) { %>
            <p class="card-text">Date Sent: <%= jobApp.sentDate.toLocaleDateString('en-US', { timeZone: 'UTC' }) %></p>
          <% } else { %>
            <div class="form-floating mb-3">
              <input class="form-control" type="date" name="sentDate" id="sentDate" value="<%= convertDateString(new Date()) %>" autocomplete="off">
              <label for="sentDate">Date Sent:</label>
            </div>
          <% } %>
              
          <% if (!(jobApp.resumeVersion && jobApp.coverLetterVersion && jobApp.sentDate)) { %> 
            <button class="btn btn-primary" type="submit">Submit</button>
          <% } %>
                  
        </form>
      </div>
    </div>

    <!-- CONTACT INFO CARD -->
    <div class="card m-3 details-card">
      <div class="card-header">
        Contact Info Details
      </div>
      <div class="card-body">
        <form action="/jobapps/<%= jobApp._id %>/contacts" method="POST">

          <% if (jobApp.contact) { %> 
            <p class="card-text">Name: <%= jobApp.contact.name %></p>  
            <p class="card-text">Title: <%= jobApp.contact.title %></p>
            <p class="card-text">Phone Number: <%= jobApp.contact.phoneNumber %></p>
            <p class="card-text">Email: <%= jobApp.contact.emailAddress %></p>
          <% } else { %>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="name" id="name" required>
              <label for="name">Name</label>
            </div>
            
            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="title" id="title" required>
              <label for="title">Title</label>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="phoneNumber" id="phoneNumber" required>
              <label for="phoneNumber">Phone Number</label>
            </div>
            
            <div class="form-floating mb-3">
              <input type="email" class="form-control" name="emailAddress" id="emailAddress" required>
              <label for="emailAddress">Email</label>
            </div>

            <button type="submit" class="btn btn-primary btn-sm">Add Contact Info</button>
          <% } %>
        </form>
      </div>
    </div>
  </div>
            
            <!-- TASKS CARD -->
    <div class="card m-3">
        <div class="card-header">
          Tasks
        </div>
        <div class="card-body d-flex flex-wrap">
          
          <!-- ADD TASKS -->
          <div class="card task-card m-2">
            <div class="card-body">
                <h5 class="card-title">Add Tasks</h5>
                <form action="/jobapps/<%= jobApp._id %>/tasks" method="POST">
                  
                  <div class="form-floating mb-3">
                    <textarea class="form-control" name="description" id="description" required></textarea>
                    <label for="description">Task Description</label>
                  </div>
                  
                  <div class="form-floating mb-3">
                    <input class="form-control" type="date" name="dueDate" id="dueDate">
                    <label for="dueDate">Due Date</label>
                  </div>

                  <div class="form-floating mb-3">
                    <select class="form-control" name="status" id="status">
                      <option value="To Do">To Do</option>
                      <option value="In Progress">In Progress</option>
                      <option value="Complete">Complete</option>
                    </select>
                    <label for="status">Status</label>
                  </div>

                  <div class="form-floating mb-3">
                    <select class="form-control" name="priority" id="priority">
                      <option value="Low">Low</option>
                      <option value="Med">Med</option>
                      <option value="High">High</option>
                    </select>
                    <label for="priority">Priority</label>
                  </div>

                    <button type="submit" class="btn btn-primary btn-sm">Add Task</button>
                </form>
            </div>
          </div>

          <!-- INDIVIDUAL CARDS FOR EACH TASK -->
          <% jobApp.tasks.forEach(task => { %>
            <div class="card task-card m-2">
              <div class="card-body d-flex flex-column">
                <form action="/tasks/<%= task._id %>?_method=PUT" method="POST">
                  <h6 class="card-title"> <%= task.description %> </h6>
                  
                  <label for="dueDate">Due Date</label>
                  <input class="form-control" type="date" name="dueDate" id="dueDate" value="<%= convertDateString(task.dueDate) %>">

                  <label for="status">Status:</label>
                  <select class="form-control" name="status" id="status">
                    <option value="To Do" <%= task.status === "To Do" ? "selected" : "" %> >To Do</option>
                    <option value="In Progress" <%= task.status === "In Progress" ? "selected" : "" %> >In Progress</option>
                    <option value="Complete" <%= task.status === "Complete" ? "selected" : "" %> >Complete</option>
                  </select>

                  <label for="priority">Priority:</label>
                  <select class="form-control" name="priority" id="priority">
                    <option value="Low" <%= task.priority === "Low" ? "selected" : "" %> >Low</option>
                    <option value="Med" <%= task.priority === "Med" ? "selected" : "" %> >Med</option>
                    <option value="High" <%= task.priority === "High" ? "selected" : "" %> >High</option>
                  </select>
                                 
                  <button type="submit" class="btn btn-secondary btn-sm mt-2">Update Task</button>
                </form>
                <form action="/tasks/<%= task._id %>?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-danger btn-sm mt-2">Delete Task</button>    
                </form>
              </div>
            </div>
          <% }) %>

        </div>
      </div>
</div>

<%- include('../partials/footer') %>