<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS Links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- JavaScript Links -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Job App Tracker</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNavAltMarkup">
                <% if (user) { %>
                    <div class="navbar-nav">
                        <a class="nav-link <%- title === 'Home' ? 'active' : '' %>" href="/">Home</a>
                        <a class="nav-link <%- title === 'Job Applications' ? 'active' : '' %>" href="/jobapps">Job Applications</a>
                        <a class="nav-link <%- title === 'New Job App' ? 'active' : '' %>" href="/jobapps/new">Add New Job App</a>
                        <a class="nav-link <%- title === 'Tasks' ? 'active' : '' %>" href="#">Tasks</a>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                    <div class="navbar-nav">
                        <a class="nav-link" href="/logout">Logout</a>
                    </div>
                <% } else { %>
                    <div class="navbar-nav">
                    </div>
                    <div class="navbar-nav">
                        <a class="nav-link" href="/auth/google">Login</a>
                        <a class="nav-link" href="">Sign Up</a>
                    </div>
                <% } %>
            </div>
        </div>
    </nav>