<%- include('../partials/header') %>

<div class="container mt-3">
    <h4 class="text-center">All tasks due on or before <%= dates.urgentDate.toLocaleDateString('en-US', { timeZone: 'UTC' }) %> are listed here.</h4>
    <!-- Each Job App with tasks meeting the requirements will get a card -->
    <% jobApps.forEach(jobApp => { %>
        <div class="card m-2 mt-3">
            <div class="card-header">
                <%= `${jobApp.company} - ${jobApp.jobTitle}` %>
            </div>
          <div class="card-body d-flex flex-column">

            <table class="table table-sm table-hover text-center table-tasks">
                <col class="column-task">
                <col class="column-due-date">
                <col class="column-status">
                <col class="column-priority">
                <col class="column-update">
                <col class="column-delete">
                <thead>
                    <th>
                        Task
                    </th>
                    <th>
                        Due Date
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Priority
                    </th>
                    <th>
                        Update
                    </th>
                    <th>
                        Delete
                    </th>
                </thead>
                <tbody>
            <% const urgentTasks = jobApp.tasks.filter(task => task.dueDate < dates.urgentDate) %>
            <% urgentTasks.forEach(task => { %>
            <form action="/tasks/<%= task._id %>?_method=PUT" method="POST">
                <tr>
                    <td>
                        <h6> <%= task.description %> </h6>
                    </td>
                    <td>
                        <input class="form-control in-place-forms" type="date" name="dueDate" id="dueDate" value="<%= convertDateString(task.dueDate) %>">
                    </td>
                    <td>
                        <select class="form-control in-place-forms" name="status" id="status">
                            <option value="To Do" <%= task.status === "To Do" ? "selected" : "" %> >To Do</option>
                            <option value="In Progress" <%= task.status === "In Progress" ? "selected" : "" %> >In Progress</option>
                            <option value="Complete" <%= task.status === "Complete" ? "selected" : "" %> >Complete</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control in-place-forms" name="priority" id="priority">
                            <option value="Low" <%= task.priority === "Low" ? "selected" : "" %> >Low</option>
                            <option value="Med" <%= task.priority === "Med" ? "selected" : "" %> >Med</option>
                            <option value="High" <%= task.priority === "High" ? "selected" : "" %> >High</option>
                        </select>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-secondary">Update</button>
                    </td>
                </form>
                    <td>
                        <form action="/tasks/<%= task._id %>?_method=DELETE" method="POST">
                          <button type="submit" class="btn btn-danger">X</button>    
                        </form>
                    </td>
                </tr>
                
                <% }) %>
            </tbody>
        </table>
          </div>
        </div>
      <% }) %>
    <!-- Within each job app card, each individual task will be listed out with description, due date, priority, and status. -->

</div>



<%- include('../partials/footer') %>